{% extends 'index.html' %} 
{% block body_block %}
	<div class="container-fluid">
	<div class="col-md-4 col-md-offset-4 well">
        <form class="navbar-form navbar-left" role="search" id="user_form" method="post" action="/ac/submit_ticket/">
            {% csrf_token %}
		
            <h2 class="form-signin-heading">Submit your issue here</h2>
	    {%for hidden in user_form.hidden_fields%}
		{{hidden}}
	    {%endfor%} 
            {% for field in submit_ticket_form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
	<div class="form-group">
            {{ field }}
	 </div>
	<br />
            {% endfor %}
		<br />
            <!-- Provide a button to click to submit the form. -->
	    <button class="btn btn-lg btn-primary btn-block" type="submit">

    Submit Ticket

</button>
       
        </form>
	</div>
	</div>
{% endblock %}
