<!DOCTYPE html>
{% extends 'index.html' %}

{% block body_block %}


    <!-- ALL_QUESTIONS SUB_HEADER -->

    <div class="container-fluid"  style="padding-top: 0.5cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        <ul class="nav nav-tabs">
          <li style="float: right;"><a href="unanswered/">Unanswered</a></li>
          <li style="float: right;"><a href="#">Active</a></li>
          <li style="float: right;"><a href="#">Frequent</a></li>
          <li style="float: right;" class="active"><a href="#">Latest</a></li>

        <h4 style="text-align: left; font-size:18px; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold;">
            All Questions
        </h4>

        </ul>

	</div>
	</div>


    <!-- ALL_QUESTIONS PAGE CONTENT -->

    <div class="container-fluid"  style="padding-top: 0.5cm; padding-bottom: 2cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        <div class="well-sm" style="padding-top: 0.2cm;">
            <h4 class="text-justify" style="color:sienna;" >
                
                    <b><u>{{posts.title}}</u></b>
               
            </h4>
            
                {{ posts.body|safe|linebreaks }}

   <div class="page-header">
        </div>        
	     {% for reply in replies %}
	      <pre>
			{{ reply.body|safe|linebreaks  }}
	      </pre>
	     {% endfor %}

        </div>
        <div class="page-header">
        </div>
       


    </div>
</div>
{% endblock %}


