<!DOCTYPE html>
{% extends "index.html" %}

{% load staticfiles %}
{% block body_block %}

    <!-- MODAL FOR ANSWERING QUESTION -->

    <!-- Modal -->
    <div class="modal fade" id="addAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
         xmlns="http://www.w3.org/1999/html">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Answer here</h4>
          </div>
          <div class="modal-body">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">Post your answer</button>
          </div>
        </div>
      </div>
    </div>


    <div class="container-fluid"  style="padding-top: 0.5cm; padding-bottom: 0.7cm;">
	<div class="  col-md-8 col-md-offset-2" role="navigation">

        <ul class="nav nav-tabs">
        <h4 style="text-align: left; font-size:18px; font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif; font-weight: bold;">
            {{ posts.title }}
        </h4>

        </ul>

        <table>
            <tbody>
                <tr>
                    <!-- VOTE CELL -->
                    <td class="votecell" style="padding-top: 0.0cm;">
                        <div class="vote">
                            <a href="#" title="This question shows research effort; it is useful and clear">
                                <img src="{% static 'images/up1.png' %}" />
                            </a>

                            <span class="vote-count-post" id="show_vote_count">
                                {{ posts.upvotes }}
                            </span>

                            <a href="#" title="This question shows research effort; it is useful and clear">
                                <img src="{% static 'images/down1.png' %}" />
                            </a>
                        </div>
                    </td>

                    <!-- POST CELL -->
                    <td class="postcell" style="padding-top: 1cm; padding-left: 0.5cm;">
                        <div>
                            <div class="well post-text" itemprop="description">
                                {{ posts.body }}
                            </div>
                            <div class="post-taglist" style="padding-top: 0.5cm;">
                                <a class="post-tag" rel="tag" title="" href="/questions/tags/">
                                    python
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>

        <!-- SUBMIT REPLY FORM -->

        <form id="post_answer_form" method="POST" action="/questions/submit_reply/{{ posts.pk }}/">
            {% csrf_token %}
            <h3 id="ans_header" style="display: none;">
                Your Answer
            </h3>

            <div style="padding-bottom: 0.3cm;">
            </div>

        </form>

        <div id="ans_buttons" style="vertical-align: top; float: left;">
            <button id="add_answer" class="btn btn btn-primary" type="button">Add your answer</button>
            <button id="submit_reply" class="btn btn btn-primary" type="submit" form="post_answer_form" style="display: none;">Post your answer</button>


            <button id="submit_reply" class="btn btn-primary" type="submit" form="post_answer_form" style="display: none;">
                Post your answer
            </button>

            <!-- HTML5 form attribute used here for submit-buttons outside a form :P -->

            <a id="cancel_submit" type="reset" style="display: none; padding-top: 5px;">or Cancel?</a>
        </div>

        <!-- SUBMIT REPLY FORM ENDS HERE -->

    </div>
    </div>


    <script>


    var ansbtn = document.getElementById('add_answer')
    var ansform = document.getElementById('post_answer_form');
    var post_btn = document.getElementById('add_answer')
    var btn_click = 0;

    var cancelbtn = document.getElementById('cancel_submit')

    ansbtn.addEventListener('click', function(event){
        if (btn_click == 0)
        {
            btn_click=1;
            addField();
            doChange();
        }
    });

    cancelbtn.addEventListener('click', function(event){
        revertChange();
    });


    function addField() {

        var text_area = document.createElement('textarea');
        text_area.setAttribute('id', 'text_area_{{ user.id }}')
        text_area.setAttribute('class', 'form-control')
        text_area.setAttribute('title', 'text_area_{{ user.id }}')
        text_area.setAttribute('name', 'post_answer')
        text_area.setAttribute('rows', '5')
        text_area.setAttribute('cols', '92')
        text_area.setAttribute('width', '610px')
        text_area.setAttribute('placeholder', 'Enter your answer here.')

        ansform.appendChild(text_area);

    }

    function doChange() {
        document.getElementById('ans_header').style.display = "block";
        document.getElementById('add_answer').style.display = "none";
        document.getElementById('submit_reply').style.display = "block";
        document.getElementById('cancel_submit').style.display = "block";
        document.getElementById('ans_buttons').style.paddingTop = "0.5cm";
    }

    function revertChange() {
        document.getElementById('ans_header').style.display = "none";
        document.getElementById('add_answer').style.display = "block";
        document.getElementById('submit_reply').style.display = "none";
        document.getElementById('cancel_submit').style.display = "none";
        document.getElementById('ans_buttons').style.paddingTop = "0.0cm";

        var txt = document.getElementById('text_area_{{ user.id }}')
        txt.remove();
        btn_click = 0;
    }


    </script>

    <!-- AJAX SCRIPT -->

    <script>

    $(document).ready(function() {

    });




    /*
    var vote_count = 0;

    function incVoteCount( ) {
        vote_count++;
        document.getElementById("show_vote_count").innerHTML = vote_count;
    }

    function decVoteCount( ) {
        vote_count--;
        document.getElementById("show_vote_count").innerHTML = vote_count;
    }

    */
    </script>

{% endblock %}