<!DOCTYPE html>	
{% load staticfiles %}
<meta name="Register Page" author="darkdefender27" />
<HTML>
<HEAD>
	<TITLE>
		Login Page
	</TITLE>
	
		<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
		
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.validator.js' %}"></script>
		
		
		<style>

		.light-wrap {
			border: 1px solid rgb(194, 199, 208);
		}
		
		
		</style>
		
		<script type="text/javascript">
			function validate()
			{
				if(login_form.tab_id.value>100)
				{
				   document.getElementById('tab_error').innerHTML="Invalid Tablet-id.";
				   document.login_form.tab_id="";
				   document.login_form.tab_id.focus();
				}
			}
		</script>

</HEAD>

<BODY>
	
	<!-- NAVBAR HEADER -->
	
	
	
	<!-- NAVBAR HEADER COMPLETES HERE -->
	
	<!-- REGISTER -->
	
	{% block body_block %}
	<div class="container" align="center">
	
		<div class="page-header">
          <a href='/' title="Go back to Home Page">
		    <img src = "{% static 'images/aakash.png' %}" height="50px" width="100px" />
          </a>
		  <h1 style="font-family: Whitney SSm A,Whitney SSm B,verdana,Lucida Grande,sans-serif;"><small>Change </small><strong>Password</strong></h1>
		</div>
		
	<div class="col-md-4 col-md-offset-4">
	

	<div class="light-wrap">
		<br />
		<br />
		<div style="padding-left: 25px; padding-right: 25px; padding-bottom: 20px; padding-top: 10px;">
		<form   action="/aakashuser/change/"  onsubmit="return check()"  method="POST">
    		{% csrf_token %}
		<i class="fa fa-user fa-5x"></i>			
		
				<div class="form-group" action=">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span>
						<input type="password" class="form-control" id="reset1" name="reset1" placeholder="Password" required="required" data-title="Please use a valid email-id" data-require="" data-regex="email"/>
				  	</div>
				</div>

	   			
                                
                                
				
				<br/>

                <!-- ERRORS, IF ANY IN POSTFORM -->

				{% if login_error %}
				<div class="alert alert-danger">
				<p>{{ login_error }}</p>
				</div>
			    {% endif %}

				<button class="btn btn-lg btn-primary btn-block" type="submit"  ">Change Password</button>

				<br />		
		  </form>
		
        </div>
		</div>	<!-- light-wrap -->
	</div>


	</div> <!-- /container -->
	{% endblock body_block %}


	<!-- REGISTER COMPLETES HERE -->
	
<script type="text/javascript">
		  $(document).ready(function() {

        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>
<script>

		function check()
              
		{
                    
                    $.post('/aakashuser/change')
                     var pass1 = document.getElementById("reset1").value;
		     var len = pass1.length
                                                
			if(len<5)
                           alet("Minimum 5 characters")
			   return false
                        else
                           return  true
		}
			
		
	</script>	

</BODY>

</HTML>