<HTML>
{% load staticfiles %}
<HEAD>
    <TITLE>
        404 Page not found
    </TITLE>
</HEAD>
<BODY>

    <div class="container" align="center">

		<div class="page-header">
          <a href='/' title="Go back to Home Page">
		    <img src = "{% static 'images/aakash.png' %}" height="50px" width="100px" />
          </a>
		  <h1 style="font-family: Whitney SSm A,Whitney SSm B,verdana,Lucida Grande,sans-serif;"><small>Log In to </small><strong>TechSupport</strong></h1>
		</div>

    </div>

    <header>
        404 Page not found
    </header>

    <div>
     <img src="{% static 'images/aakash-logo.png' %}"
	  alt="404 page"
	  class="img-responsive">
    </div>

</BODY>

</HTML>

