<!DOCTYPE html>	
{% load staticfiles %}
<meta name="Index Page" author="darkdefender27" />
<html>
	<head>
		<title>
		  	Aakash Tech
		</title>
		
		<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" href="{% static 'css/ask_que.css' %}" />
		<link rel="stylesheet" href="{% static 'css/tags_table.css' %}" />
        <link rel="stylesheet" href="{% static 'css/question_summary.css' %}" />

        <script src="{% static 'js/jquery.min.js' %}"></script>

        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	{%block head_block%}
	{%endblock%}	
	</head>
	
	<body>


	<!-- NAVBAR CODE -->
	
	<nav class="navbar navbar-inverse" role="navigation">
	  <div class="container-fluid">

		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header" style="padding-top: 0.2cm;">
		  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>

		  <a href="/">
              <img src = "{% static 'images/aakash-logo-new.png' %}" alt="Aakash Logo"/>
		  </a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<!-- 
		  <ul class="nav navbar-nav">
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">darkdefender27 <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><a href="#">Edit Profile</a></li>
		        <li><a href="#">Preferences</a></li>
		        <li><a href="#">Settings</a></li>
		        <li class="divider"></li>
		        <li><a href="#">Log Out</a></li>
		      </ul>
		    </li>
		  </ul>  
	-->
		  <ul class="nav navbar-nav navbar-right" style="padding-top: 0.8cm;">
			<li>
			  <form class="navbar-form navbar-left" role="search" action="/search/" method="GET">
			  	{% csrf_token %}
				<div class="form-group">
                    <div class="input-group">
				        <input type="text" name="q" class="form-control" placeholder="Search">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
				</div>
			  </form>
		    </li>
<!-- 		    
		    <li class="dropdown">
		      <a href="#" class="dropdown-toggle" data-toggle="dropdown">darkdefender27 <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><a href="#">Settings</a></li>
		        <li><a href="#">Preferences</a></li>
		        <li class="divider"></li>
		        <li><a href="#">LogOut</a></li>
		      </ul>
		    </li>
		  </ul>
-->	  
			{% if user.is_authenticated %}
			<li>
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ user.username }} <b class="caret"></b></a>
		      <ul class="dropdown-menu">
		        <li><a href="/">Home</a></li>
		        <li><a href="/aakashuser/view_profile/">Profile</a></li>
                <li><a href="/aakashuser/profile/">Edit Profile</a></li>
		        <li class="divider"></li>
		        <li><a href="/logout/">Logout</a></li>
		      </ul>
			</li>
			{% else %}
			<li>
				<a href="/login/">Login</a>
			</li>
			<li>
				<a href="/register/">Register</a>
			</li>
			{% endif %}
          </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	<!-- NAVBAR HEADER CODE COMPLETE -->

    <!-- SMALL MODAL -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
          <CENTER>
            <h4>Login to post a question.</h4>
          </CENTER>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- NAV PILLS -->

    <div class="container-fluid">
	<nav class="navbar navbar-default navbar-static-top  col-md-8 col-md-offset-2" role="navigation">

        <ul class="nav navbar-nav">
          <a class="navbar-brand " href="/questions/" ><b>Questions</b>&nbsp;&nbsp; |</a>
        </ul>

        <ul class="nav navbar-nav">
           <a class="navbar-brand " href="/questions/tags/"><b>Tags</b>&nbsp;&nbsp;&nbsp; |</a>
        </ul>

	<ul class="nav navbar-nav">
	{% if user.is_superuser %} 
	<a class="navbar-brand " href="/ticketing" ><b>Dashboard</b>&nbsp;&nbsp;&nbsp; |</a>
    <li class="dropdown">
		<a href="" class="navbar-brand " data-toggle="dropdown"><b>Approval</b> <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="/ticketing/unapproved/">Approve a <b>Post</b></a></li>
			<li><a href="/ticketing/unapproved_ans/">Approve a <b>Reply</b></a></li>
		</ul>
	</li>

        {% else %}
	<a class="navbar-brand " href="/ticketing/submit_ticket/" ><b>Submit Ticket</b></a>
	{% endif %}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
              {% if not user.is_superuser %}
                  <a class="navbar-brand " href="/ticketing/view_tickets/" >View <b>Tickets </b>&nbsp;&nbsp; |</a>
                  <a class="navbar-brand " href="/questions/askquestion/" >Ask <b>Question </b></a>
              {% else %}
              <a class="navbar-brand " href="/ticketing/view_tickets/" >View <b>Tickets </b></a>
              {% endif %}

          {% else %}
              <a class="navbar-brand " href="#" data-toggle="modal" data-target="#myModal">Ask <b>Question </b></a>
          {% endif %}
        </ul>

	</nav>
	</div>


    <!-- NAV PILLS ENDS HERE-->



	<!-- JUMBOTRON -->	

	{% if query %}
	<div class="row col-md-2"></div>
	<div class="row col-md-8">
		<div class="jumbotron">
		<strong>
			<h1>
				Jumbotron
			</h1>
			<br />
			<br />

		</strong>
			<p>You searched for :  <strong>{{ query }}</strong></p>

			{% if books %}
				<p>Found {{ books|length }} book{{ books|pluralize }}.</p>
				<ul>
					{% for book in books %}
					<li>{{ book.title }}</li>
					{% endfor %}
				</ul>
			{% else %}
				<p>No books matched your search criteria.</p>
			{% endif %}
			
			<br />
			<p>
				<a class="btn btn-primary" href="http://www.getbootstrap.com/components/#jumbotron" target="_blank" role="button">Learn more</a>
			</p>
		</div>
	</div>
	<div class="row col-md-2"></div>
	{% endif %}
	
	<!-- JUMBOTRON ENDS HERE -->

    {% block body_block %}


    <div class="" style="padding-top: 0.5cm; padding-bottom: 0.7cm;">
        <div class="col-md-1"></div>
        <div class="col-md-10 col-md-offset-0" role="navigation">

           <!--
            <div class="col-xs-6 col-md-6">

                <div class="site-flow" style="float: left;">
                    <ul>
                        <a class="discforum"><img src=" {% static 'images/Discussion_Forum.png' %} "></a>
                    </ul>

                </div>
            </div>
            -->
            <div class="sidebar-image" style="float: right;">
                <img src="{% static 'images/tablets_tech_support.png' %}" width="400px" height="350px" />
            </div>
            <h2 style="font-family:  Whitney SSm A,Whitney SSm B,verdana,Lucida Grande,sans-serif;">
                Got a Problem? Let's solve it..
            </h2>
        </div>
    </div>

    <!-- CAROUSEL CODE GOES HERE -->
    <div class="row">
        <div class="col-md-10 col-md-offset-1" role="navigation">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <div class="carousel-caption">
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
        </div>
    </div>



    <!-- CAROUSEL CODE ENDS HERE -->

    <div style="padding-bottom: 3cm;">

    </div>

	{% endblock %}

    <div style="padding-bottom: 6cm;">
    </div>

	<!-- FOOTER CODE GOES HERE -->

	<nav class="navbar-inverse" style="bottom: 0; position: relative;" role="navigation">

        <div style="padding-top: 1cm; background-color: #000000">
        </div>
		<div id="footer" style="height: auto; overflow-x: hidden; padding-left: 1cm;">
              <div class="row" style="overflow-x: hidden;">
                  <div class="col-md-10">
                  <div class="col-xs-4 col-md-offset-2">
                      <a style="float: left; padding-left: 30px;"><img src=" {% static 'images/nmeict-logo-new.png' %} "width="100px" height="130px"></a>
                  </div>
                  <div class="col-xs-4 col-md-offset-0">
                      <a style="padding-left: 20px;" ><img src=" {% static 'images/iitb_logo.png' %} "width="100px" height="90px"></a>
                  </div>
                  <div class="col-xs-2">
                      <a style=" "><img src=" {% static 'images/mhrd_logo_new.png' %} " width="120px" height="120px"></a>
                  </div>
                  </div>
              </div>
		  <div class="container">
			<center>
				<p class="muted credit">Development on <a target="_blank" href="http://www.aakashlabs.org"> Aakash Labs</a> under construction.
				 &nbsp; |  &nbsp;
			   	Copyright <a href="http://www.iitb.ac.in" target="_blank"> © IIT Bombay</a>  Inc.
				 &nbsp; |  &nbsp;
			   	Contact : <a href="http://www.it.iitb.ac.in/aakashlab" target="_blank"> Aakash Labs </a>
				</p>
			</center>
		  </div>
		</div>
	</nav>

	<!-- END OF FOOTER -->



	</body>

    <!-- SCRIPTS -->

        <script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/ajax.js' %}"></script>

     <!-- SCRIPTS ENDS HERE -->

</html>
