<!DOCTYPE html>

{% extends "index.html" %}

{% block body_block %}

    <div id="post_body" class="col-md-8 col-md-offset-2" style="padding-top: 1cm">
        <form action="#" role="form" id="search_form">
        <div>
            <b>
            <p>
                Q. {{ que.title }}
            </p>
            </b>
        </div>
        <div class="well" style="padding-top: 0.5cm">
            <p>
                {{ que.body }}
            </p>
        </div>
<!--
        <div id="sbutton" style="padding-top: 0.5cm;">
            <button class="btn btn btn-primary" type="submit"></button>
        </div>
-->

        </form>
    </div>



{% endblock %}