question-summary {
    border-bottom: 1px solid rgb(234, 234, 234);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(234, 234, 234);
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    padding: 11px 0px;
        padding-top: 11px;
        padding-right-value: 0px;
        padding-bottom: 11px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    width: 730px;
    float: left;
}

.statscontainer {
    width: 60px;
    float: left;
    margin-right: 8px;
        margin-right-value: 8px;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.statsarrow {
    float: right;
    height: 13px;
    width: 7px;
    margin-top: 12px;
    background-position: 0px -435px;
}

.stats {
    background: none repeat scroll 0% 0% rgb(238, 238, 238);
        background-color: rgb(238, 238, 238);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    margin: 0px 0px 0px 7px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 7px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    padding: 4px 7px 6px;
        padding-top: 4px;
        padding-right-value: 7px;
        padding-bottom: 6px;
        padding-left-value: 7px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    width: 58px;
}

.vote {
    text-align: center;
}

.votes {
    color: rgb(85, 85, 85);
    padding: 0px 0px 7px;
        padding-top: 0px;
        padding-right-value: 0px;
        padding-bottom: 7px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    text-align: center;
}

.vote span {
    display: block;
    color: rgb(128, 129, 133);
    font-weight: normal;
}

.vote-count-post {
    display: block;
    font-size: 24px;
}

.unanswered {
    background: none repeat scroll 0% 0% transparent;
        background-color: transparent;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    color: rgb(154, 68, 68);
}


.status {
    margin-top: -3px;
    padding: 4px 0px;
        padding-top: 4px;
        padding-right-value: 0px;
        padding-bottom: 4px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    text-align: center;
}

.views {
    padding-top: 4px;
    color: rgb(153, 153, 153);
    text-align: center;
}


.summary {
    float: right;
    width: 635px;
}


h3 {
    font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1.3;
}


.question-hyperlink {
    font-weight: bold;
}

a {
    color: rgb(0, 119, 204);
    text-decoration: none;
    cursor: pointer;
}

.excerpt {
    line-height: 1.2;
    padding: 0px 0px 5px;
        padding-top: 0px;
        padding-right-value: 0px;
        padding-bottom: 5px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin: 0px;
        margin-top: 0px;
        margin-right-value: 0px;
        margin-bottom: 0px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
}

.tags {
    line-height: 18px;
    float: left;
}

.post-tag, .post-text .post-tag, .wmd-preview a.post-tag {
    color: rgb(62, 109, 142);
    background-color: rgb(224, 234, 241);
    border-bottom: 1px solid rgb(179, 206, 225);
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: rgb(179, 206, 225);
    border-right: 1px solid rgb(179, 206, 225);
        border-right-width-value: 1px;
        border-right-style-value: solid;
        border-right-color-value: rgb(179, 206, 225);
        border-right-width-ltr-source: physical;
        border-right-width-rtl-source: physical;
        border-right-style-ltr-source: physical;
        border-right-style-rtl-source: physical;
        border-right-color-ltr-source: physical;
        border-right-color-rtl-source: physical;
    padding: 3px 4px;
        padding-top: 3px;
        padding-right-value: 4px;
        padding-bottom: 3px;
        padding-left-value: 4px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    margin: 2px 2px 2px 0px;
        margin-top: 2px;
        margin-right-value: 2px;
        margin-bottom: 2px;
        margin-left-value: 0px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
        margin-right-ltr-source: physical;
        margin-right-rtl-source: physical;
    text-decoration: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
    font-size: 90%;
    line-height: 1.4;
    white-space: nowrap;
    display: inline-block;
}

.fr {
    float: right;
}
.started {
    width: 185px;
    color: rgb(153, 153, 153);
    float: right;
    line-height: 18px;
}

.user-info {
    height: 35px;
    width: 185px;
}

user-info .user-action-time {
    margin-top: 2px;
    margin-bottom: 4px;
}

.relativetime {
    font-weight: normal;
    text-decoration: none;
        -moz-text-decoration-color: -moz-use-text-color;
        -moz-text-decoration-line: none;
        -moz-text-decoration-style: solid;
}

user-info .user-gravatar32 {
    float: left;
    width: 32px;
    height: 32px;
}

.gravatar-wrapper-32 {
    padding: 0px;
        padding-top: 0px;
        padding-right-value: 0px;
        padding-bottom: 0px;
        padding-left-value: 0px;
        padding-left-ltr-source: physical;
        padding-left-rtl-source: physical;
        padding-right-ltr-source: physical;
        padding-right-rtl-source: physical;
    width: 32px;
    height: 32px;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
}


.user-info .user-details {
    float: left;
    margin-left: 5px;
        margin-left-value: 5px;
        margin-left-ltr-source: physical;
        margin-left-rtl-source: physical;
    width: 145px;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    white-space: nowrap;
}
.user-details {
    color: rgb(136, 136, 136);
    line-height: 17px;
}

#mainbar, .mainbar {
    float: left;
    margin-bottom: 40px;
    width: 735px;
}